@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('http://fonts.cdnfonts.com/css/secret-halloween');
font-family: 'Roboto', sans-serif;
*{
    margin: 0;
    padding: 0;
    
}
.container{
    background-image:url(images.jfif);
    height: 100vh;
    background-size:100% 100% ;
}
.container .navbar{
    width: 100%;
    height: 80px;
    background: rgba(214, 147, 22, 0.4);
}
.navbar .logo {
    display:inline-block;
    margin-left: 50px;
    margin-top: 20px;
    font-family: 'Secret Halloween', sans-serif;

}
.navbar ul{
    float : right;
    margin-right:20px
}
.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    color:#f3f3f3
   

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 8px;
    line-height: 80px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size:20px ;
    padding: 6px 13px;
    font-family: 'Secret Halloween', sans-serif;
    transition:5s ;
}
.navbar ul li a.aktive,
.navbar ul li a:hover{
    background: #ff6e00;
    border-radius: 20px;
}
.container .center{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: 'Secret Halloween', sans-serif;
    user-select:none;
}

.center h1{
    color:black;
    font-size: 70px;
    font-weight:bold ;
    width:900px;
    text-align:center;
    font-family: 'Secret Halloween', sans-serif;
}
.center h2{
    color:#fff;
    font-size:50px ;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Secret Halloween', sans-serif;
}
.center .buttons{
    margin:35px 280px;
}
.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color:#efe6de;
    background:rgb(207, 175, 88);
    background:solid 1px rgb(255, 128, 0);
    cursor:pointer;
    outline: none;
    border-radius:25px;
    transition: 5s;
    font-family: 'Secret Halloween', sans-serif;
}
.buttons button:hover{
    background:#fff;
    color:#e66312;


}